header.img {
		object-fit: contain;
}

img {
	display: block;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

body {
		background-color: #F36262;
  	font-family: Helvetica;
  	color: #3F0505;
}

header, article {
		background-color: #F7EAB8;
		border: solid 5px;
  	border-color: coral;
}

header {
  	padding: 8px 8px 8px 8px;
}

article {
	margin: 10 10 10 0;
}

#sidenav {
    float: left;
    padding-top: 20px;
}

#contenu {
  	overflow: hidden;
  	padding: 8px 8px 8px 8px;
  	text-align: justify;
}

#contenu p {
	font-size: 18px;
}

#sidenav a, p {
    padding: 8px 8px 8px 8px;
    font-size: 25px;
    display: block;
}

a {
    color: #F13427;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div span {
	float: right;
}
