img {
		object-fit: contain;
}

body {
		background-color: #F36262;
  	font-family: Helvetica;
  	color: #3F0505;
}

header, article {
		background-color: #F7EAB8;
		border: solid 5px;
  	border-color: coral;
}

header {
  	padding: 8px 8px 8px 8px;
  	height: 20%;
}

article {
	margin: 10 10 10 0;
}

#sidenav {
    float: left;
    width: 18%;
   /* height: 80%;*/
    padding-top: 20px; /* Place content 20px from the top */
}

#contenu {
  	overflow: hidden;
  	padding: 8px 8px 8px 8px;
}

#sidenav a, p {
    padding: 8px 8px 8px 8px;
    font-size: 25px;
    display: block;
}

a {
    color: #F13427;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div span {
	float: right;
}
